#i_page{
    color: white;
    height: 130vh;
    /* max-height: 190vh; */
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/loginbg.jpg');
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    font-size:1.15em;
    /* font-family: ; */
}


#i_container{
    width: 80%;
    /* height: 100%; */
    max-height:max-content;
    position: absolute;
    top: 30px;
    /* left: 50px; */
    border-left: 2px #57BE92 solid;
    border-top: 2px solid #ffbf00;
    border-right: 2px solid #ff0000;
    border-bottom: 2px solid #54f7f8;
    padding: 1em;
    /* border-radius: 5%; */
    background: rgba(0, 0, 0, 0.226);
    backdrop-filter: blur(3px);
    animation: 1s fade-in ease-in-out;
    /* padding-bottom: 10%; */
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#i_container h5{
   font-size: larger;
}

#i_exit{
    display: flex;
    justify-content: center;
}
#exit_i_btn{
    color: white;
    padding: 0.5em;
    transition: 1s ease-in-out;
    background-color: transparent;
    border: transparent;
    /* left: 89%; */
    width: 90%;
    font-style: italic;
     border-left: 2px #57be9183 solid;
    border-top: 2px solid #ffbf0067;
    border-right: 2px solid #ff000071;
    border-bottom: 2px solid #54f8f872;
}

#exit_i_btn:hover{
    text-decoration: none;
    cursor: pointer;
    border-left: 2px #57BE92 solid;
    border-top: 2px solid #ffbf00;
    border-right: 2px solid #ff0000;
    border-bottom: 2px solid #54f7f8;
    transform: scale(1.1);
}

@media only screen and (max-width: 790px) {
    #i_page {
        font-size: 1em; 
        height: 130vh;
    }
}



